.productsection{
    display: flex;
    padding: 60px  0px;
    align-items: flex-start;
    gap: 24px;
}

.ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    }
.categorie{
   button{
    border: 1px dashed rgba(0, 0, 0, 0.1);
    padding: 2px 10px;
    border-radius: 30px;
    line-height: 30px;
    font-size: 18px;
   }
}
.stars{
    color: red;
}

.catname{
    cursor: pointer;
    padding-bottom: 20px;
    position: relative;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
}

.filtdiv{
     display: flex;
    width: 262px;
    margin-bottom: 10px;
    align-items: center;
    gap: 8px;
}
.filter{
    color: #121212;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
}

.prodheader{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 419px;
}

.living{
    color: #000;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
}

.sort{
    color:  #121212;
font-feature-settings: 'liga' off, 'clig' off;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 26px; 
}

.grids{
    display: flex;
    width: 46px;
    height: 40px;
    padding: 5px 8px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid  #E8ECEF;
    background: #FFF;
}

.leftgrids{
    display: flex;
    align-items: center;
    gap: 32px;
}

.btns{
    display: flex;
    align-items: flex-start;
    border: 1px solid  #EAEAEA;
    background:  #FFF;
}